
.App{
  display:flex;
  flex-wrap: wrap;
  /* max-height: 200rem; */
}
.Menu{
  flex-basis: 20%;
  padding: 10px;
  border: 3px;
  border-style: solid;
  border-color:burlywood;
  background-color: beige;
  height:20rem;
}
.search{
  border: 3px;
  border-style: solid;
  border-color: red;
}

.group{
  border: 3px;
  border-style: solid;
  border-color: red;
}
.main-reminder-list{
  flex-basis: 60%;
  height:50rem;
  padding: 10px;
  border: 3px;
  border-style: solid;
  border-color: red;
}

.reminder-title{
  width:300px;
  cursor: zoom-in;
  -webkit-appearance: media-current-time-display;
}

.groupAddName{
  width: 4rem;
}

.main-reminder-list{
  flex-basis: 70%;
  padding: 10px;
  border: 3px;
  border-style: solid;
  border-color:burlywood;
  background-color: beige;
  height:20rem;
}

.reminder-title{
  background-color: beige;
}